/* este es párte de los estilos generales */

:root {
  --fondoWhite: #f8f8f8;
  --fontsColorBase: #031d5b;
  --leOrange: #f8765e;
  --grayHover: #5b6c94;
  --azulito: #9bdbe7;
}
body {
  align-items: center;
  background-color: var(--fondoWhite);
  color: var(--fontsColorBase);
  display: flex;
  flex-direction: column;
  font-family: "Encode Sans", sans-serif;
}
h1 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

/* Estilos y navegacion */
nav {
  margin: 2rem 0;
  text-align: center;
}

#logo {
  color: var(--leOrange);
  font-size: 26pt;
  font-weight: 800;
  text-transform: uppercase;
}

#logo img {
  margin-right: 0.25rem;
}

nav li {
  display: inline;
}

nav li:not(:last-child) {
  padding-right: 2rem;
}

nav li a {
  color: var(--fontsColorBase);
  font-weight: 700;
  text-decoration: none;
}

nav li a:hover {
  color: var(--grayHover);
}

/* Seccion Main */

main {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #image {
  height: 232px;
  width: 20rem;
  margin-bottom: 2rem;
  display: block;
  background-image: url("../images/orange-search-engine-phone.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
form {
  background-color: #fff;
  border: 1px solid var(--leOrange);
  border-radius: 0.25rem;
  box-sizing: border-box;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.152644);
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  width: 100%;
}
/* este haria referencia a todos los inputs */
input {
  background: rgba(0, 0, 0, 0);
  color: var(--grayHover);
  display: inline;
  box-sizing: border-box;
  height: 2.5rem;
  font-weight: 700;
}

#search-field {
  border: none;
  border-radius: 0.25rem 0px 0px 0.25rem;
  padding-left: 1rem;
  width: 100%;
}

#search-field::placeholder {
  color: var(--grayHover);
}

#search-button {
  background-image: url("../images/search-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 0px 0.25rem 0.25rem 0px;

  border-top: 1px solid var(--leOrange);
  border-right: 1px solid var(--leOrange);
  border-bottom: 1px solid var(--leOrange);
  border-left: none;
  color: var(--grayHover);
  margin-top: -1px;
  margin-right: -1px;
  width: 3.5rem;
}
#search-button:hover {
  background-image: url("../images/search-icon-white.svg");
  background-color: var(--azulito);
  border: 1px solid var(--azulito);
  border-radius: 0px 0.25rem 0.25rem 0px;
  color: #fff;
}

section {
  width: 20rem;
}

section p {
  text-align: center;
}
section ul {
  margin: 0 0 1rem 0;
}

.btn {
  background: var(--fontsColorBase);
  border-radius: 16px;
  border: 0;
  display: block;
  height: 3.75rem;
  width: 10rem;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--grayHover);
}

.btn a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section ul li {
  line-height: 1.75rem;
  font-weight: 700;
}

section ul img {
  margin-left: 0.25rem;
}

.app-store {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rating {
  margin: 0.5rem 0 0 0;
}
.rating p {
  display: inline;
  font-size: 0.75rem;
}

footer {
  color: var(--grayHover);
  font-weight: 700;
  margin: 2.5rem auto 1rem auto;
  text-align: center;
}
/* media query para tablet */
@media screen and (min-width: 768px) {
  main {
    width: 32rem;
  }
  main #image {
    background-image: url("../images/orange-search-engine-tablet.png");
    height: 286px;
    width: 25rem;
  }
  section {
    width: 32rem;
  }
  ul {
    padding: 9px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}
/* Media query para desktop */
@media screen and (min-width: 1200px) {
  h1 {
    text-align: left;
  }
  nav {
    display: flex;
    margin-bottom: 6rem;
    width: 67rem;
  }

  nav #logo {
    display: flex;
    align-items: center;
  }

  nav ul {
    margin-left: auto;
  }
  main {
    width: 32rem;
    display: flex;
    justify-content: center;
    margin-left: 3rem;
  }

  main #image {
    background-image: url("../images/orange-search-engine-desktop.png");
    width: 39rem;
    height: 444px;
    margin-bottom: 0;
  }

  section {
    width: 32rem;
  }
  section p {
    text-align: left;
  }
  .container {
    display: flex;
    flex-direction: row-reverse;
  }
  section {
    align-items: flex-start;
  }
  ul {
    display: flex;
    flex-direction: row;
  }
  ul li {
    padding: 4px;
  }
  .app-store {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .rating {
    margin-left: 1rem;
  }
}
